@import "tailwindcss";

@layer base {
  @font-face {
    font-family: "aeonik";
    src: url("./fonts/Montserrat-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "aeonik";
    src: url("./fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "aeonik";
    src: url("./fonts/Montserrat-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "aeonik";
    src: url("./fonts/Montserrat-Black.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
  }
}

@theme {
  --font-sans: "aeonik";
  --color-blue-50: #598eff;
  --color-blue-300: #1c34ff;
  --color-white-50: #fdfdfd;
  --color-black-100: #0b0620;
  --color-black-300: #17151f;
  --color-pink-100: #ff28d5;

   --color-mintgreen-50: #c1ffd3;
   --color-mintgreen-100: #61ff9d;
   --color-mintgreen-200: #00f180;
   --color-mintgreen-300: #00d872;
   --color-mintgreen-400: #00bb62;
   --color-mintgreen-500: #009d52;
   --color-mintgreen-600: #007f41;
   --color-mintgreen-700: #00602f;
   --color-mintgreen-800: #00411e;
   --color-mintgreen-900: #00240e;
   --color-mintgreen-950: #001506;
}

html,
body {
  width: 100dvw;
  overflow-x: hidden;
  background-color: #001506;
  color: #ffffff;
  /* scroll-behavior: smooth; */
}
/* Image Loader */
.svg-text {
  font-size: 200px;
  font-family: 'Arial', sans-serif;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 4s ease forwards;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.cursor-inner {
  background-color: #00ff99;
  mix-blend-mode: difference;
  transition: all 0.3s ease;
  transform-origin: center;
}

.cursor-inner.active {
  transform: scale(2);
  opacity: 0.4;
  background-color: #ffffff;
}

section {
  width: 100dvw;
  min-height: 100dvh;
  will-change: transform;
  backface-visibility: hidden;
  transform: translateZ(0);
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
}

@layer components {
  .label {
    @apply block text-white md:text-2xl font-semibold mb-2;
  }

  .input {
    @apply w-full px-4 py-4 font-light md:text-base text-sm placeholder:text-[#fafafa50] bg-black-300 rounded-md
  }

  .gradient-title {
    background: linear-gradient(180deg,
        #fdfdfd 43.1%,
        rgba(253, 253, 253, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .gradient-border {
    border-radius: 20px;
    position: relative;
    overflow: hidden;
  }

  .gradient-border::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1.5px;
    /* Border width */
    border-radius: 20px;
    background: linear-gradient(20deg,
        #fdfdfd 0%,
        rgba(253, 253, 253, 0) 100%);
    /* Gradient colors */
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }

  .gradient-box {
    background: rgb(11, 6, 32);
    background: linear-gradient(0deg,
        rgba(11, 6, 32, 1) 0%,
        rgba(16, 11, 51, 0.7217480742296919) 23%,
        rgba(16, 11, 51, 0) 100%);
  }

  .gradient-sphere {
    position: absolute;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    filter: blur(200px);
  }

  .sphere-1 {
    background: radial-gradient(circle, #00f180, #009d52);
    top: -100px;
    left: 300px;
    animation: wander-left 10s ease-in-out infinite;
  }

  .sphere-2 {
    background: radial-gradient(circle, #1c34ff, #1c34ff);
    top: 100px;
    right: 300px;
    animation: wander-right 12s ease-in-out infinite;
  }

  /* tech stack */
  .about-gradient-sphere {
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    filter: blur(200px);
  }

  .about-sphere-1 {
    background: radial-gradient(circle, #00f180, #009d52);
    bottom: 300px;
    right: 150px;
    animation: wander-left 10s ease-in-out infinite;
  }

  .about-sphere-2 {
    background: radial-gradient(circle, #1c34ff, #1c34ff);
    bottom: 100px;
    right: 50px;
  }
  /* marquee */
  .marquee {
    width: 100dvw;
    overflow: hidden;
    position: relative;
  }

  .marquee-box {
    display: flex;
    align-items: center;
    width: 200%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    animation: marquee 60s linear infinite;
  }

  .marquee-item {
    float: left;
  }

  .marquee-item:after {
    content: "";
    position: absolute;
    top: 100%;
    right: -100%;
    bottom: -100%;
    left: -100%;
    background: linear-gradient(to bottom,
        rgba(229, 172, 142, 0),
        rgba(255, 255, 255, 0.5) 50%,
        rgba(229, 172, 142, 0));
  }

  /*This activates the shine once the button has been hovered*/
  .marquee-item:hover::after,
  button:focus::after {
    animation: shine 1s forwards;
  }

  /* projects */
  .projects-gradient-sphere {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    filter: blur(150px);
  }

  .projects-sphere-1 {
    background: radial-gradient(circle, #acb6e5, #acb6e5);
    top: 300px;
    left: 50px;
  }

  .projects-sphere-2 {
    background: radial-gradient(circle, #86fde8, #86fde8);
    top: 400px;
    left: 150px;
  }

  /* carousel */
  .slider-item{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  /* testimonial */
  .testimonial-gradient-sphere {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    filter: blur(150px);
  }

  .testimonial-sphere-1 {
    background: radial-gradient(circle, #ff28d5, #ff28d5);
    bottom: 300px;
    right: 100px;
  }

  .testimonial-sphere-2 {
    background: radial-gradient(circle, #1c34ff, #1c34ff);
    bottom: 100px;
    right: 0px;
    animation: wander-right 16s ease-in-out infinite;
  }

  /* nav-side-bar */
  .side-bar-bg {
    border-bottom: 1px solid rgba(255, 255, 255, 0.01);
    background: #00240e;
    backdrop-filter: blur(10px);
  }
}

@keyframes wander-left {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-20vw) translateY(50vh);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes wander-right {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(30vw) translateY(-50vh);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes shine {
  100% {
    transform: rotateZ(60deg) translate(1em, -15em);
  }
}

@keyframes marquee {
  0% {
    left: 0;
  }

  100% {
    left: -100%;
  }
}

/* tablet */
@media screen and (min-width: 1024px) {
  .testimonial-card:nth-of-type(even) {
    transform: translateY(70px);
  }
}